@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.react-flow__handle {
  height: 24px !important;
  width: 24px !important;
}

.react-flow__handle-bottom {
  bottom: -12px !important;
  border: 2px solid white !important;
}

.react-flow__handle-top {
  top: -12px !important;
  border: 2px solid black !important;
}

.ant-input-outlined {
  padding: 8px 12px !important;
  font-size: 18px;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  background: none;
}

.info-panel-icon > svg {
  height: 20px;
  width: 20px;
}

.info-panel-black-dot {
  height: 14px;
  width: 14px;
  background-color: black;
  border-radius: 50%;
}

.info-panel-white-dot {
  height: 14px;
  width: 14px;
  border: 1px solid black !important;
  background-color: white;
  border-radius: 50%;
}

.ant-card-head-title {
  text-align: center;
  padding: 14px 0;
}
